/*----------
   RESET 
----------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------
   COMMON 
----------*/

main{
    background-color: #b91450;
    width: 75%;
    margin: auto;
    padding-bottom: 1.5625rem;
}

.container{
    width: 50rem;
    margin: auto;
    border-radius: .9375rem;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.main-title{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
}

/*----------
   MAIN 
----------*/

/* Input section */

.input-section{
    margin-top: 4.6875rem;
}

.input-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5625rem 6.25rem;
}

.input-col{
    text-align: center;
}

.input-title{
    display: block;
    color: #b91450;
    padding-bottom: .3125rem;
}

#full-name-input, #trip-duration, #age-select{
    border: .0313rem solid #b91450;
    border-radius: .3125rem;
    padding: .3125rem .3125rem;
}

.btns-row{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5625rem 6.25rem;
    margin-bottom: 3.125rem;
}

.btns-col{
    display: flex;
}

#generate-btn{
    margin-right: .3125rem;
}

.btn-row-btns{
    color: #b91450;
    padding: .3125rem .3125rem;
}

/* Output section */

.output-section-hidden{
    display: none;
}

.bottom-container{
    background-color: white;
    border-radius: 0;
}

.output-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5625rem;
    padding: .9375rem 1.5625rem;
}

.output-col-big{
    width: 15%;
    text-align: center;
}

.output-col{
    width: calc(100% / 4 - 15%);
    text-align: center;
}

.output-table-head{
    border: 1px solid black;
}

#ticket-name{
    padding-left: 3.75rem;
}
